header {
   align-items: center;
   background-color: #8c6239;
   color: white;
   display: flex;
   font-family: sans-serif;
   font-size: 130%;
   justify-content: space-between;
   margin-bottom: 0.5em;
   padding: 0.5em;
   text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
   font-family: sans-serif;
}

header h1 {
   font-size: inherit;
   font-weight: normal;
   margin: 0;
   padding: 0.5em 0;
}

header span {
   display: flex;
}

body {
   margin: 0;
   padding: 0;
}

#mainNavigation {
   align-self: center;
   font-family: sans-serif;
   padding: 0;
}

#mainNavigation ol {
   display: flex;
   justify-content: flex-end;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#mainNavigation label {
   cursor: pointer;
   padding: 0.5em 0.5em;
}

#mainNavigation label:hover,
#mainNavigation input:checked ~ label {
   border-bottom: 4px solid #005826;
}

#mainNavigation input {
   display: none;
}

#userTile {
   margin-left: 1em;
}

#userContainer {
   background-color: transparent;
   border: none;
   color: inherit;
   cursor: pointer;
   font: inherit;
   padding: 0.5em 0.5em;
}

#userContainer:hover,
.userTileToggled {
   background-color: #005826;
}

.signedIn {
   display: none;
}

#root > section {
   margin: 0 1em;
}

.childrenSection ul,
.familyMemberSection ul,
.invitationSection ul {
   list-style-type: none;
}

.childrenSection input,
.familyMemberSection input {
   margin-left: 0.5em;
}

.skillCalendar {
   display: flex;
   justify-content: center;
}

.skillCalendar td {
   vertical-align: top;
   width: 21em;
}

.skillBody {
   display: flex;
   justify-content: flex-start;
}

.skillClass {
   display: flex;
   justify-content: flex-start;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.skillClass li {
   height: 0.5em;
   visibility: hidden;
   width: 3em;
}

.skillClass li.supportedSkill {
   visibility: visible;
}

.skillClass li.social-emotional {
   background: aqua;
}

.skillClass li.physical {
   background: darkred;
}

.skillClass li.language-literacy {
   background: lightgreen;
}

.skillClass li.mathematics-reasoning {
   background: blue;
}

.skillClass li.social-studies {
   background: green;
}

.skillClass li.science {
   background: darkorchid;
}

.skillClass li.creative {
   background: orangered;
}

.skillAge {
   width: 0.5em;
}

.infant {
   background: pink;
}

.toddler {
   background: purple;
}

.toddler-preschool {
   background: repeating-linear-gradient(
       -45deg,
       purple,
       purple 10px,
       orchid 10px,
       orchid 20px
   );
}

.preschool {
   background: orchid;
}

.preschool-preprimary {
   background: repeating-linear-gradient(
       -45deg,
       orchid,
       orchid 10px,
       darkmagenta 10px,
       darkmagenta 20px
   );
}

.preprimary {
   background: darkmagenta;
}

.preprimary-primary {
   background: repeating-linear-gradient(
       -45deg,
       darkmagenta,
       darkmagenta 10px,
       lightcoral 10px,
       lightcoral 20px
   );
}

.primary {
   background: lightcoral;
}

.skillText {
   padding: 0.5em;
}

.skillFilter {
   float: right;
   font-size: 110%;
   font-weight: bold;
}

.skillFilter select {
   margin-left: 0.5em;
}