header {
   align-items: center;
   background-color: #8c6239;
   color: white;
   display: flex;
   font-family: sans-serif;
   font-size: 130%;
   justify-content: space-between;
   margin-bottom: 0.5em;
   text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
   font-family: sans-serif;
}

header h1 {
   font-size: inherit;
   font-weight: normal;
   margin: 0;
   padding: 0.5em 0;
}

header > span {
   display: flex;
}

body {
   margin: 0;
   padding: 0;
}

#mainNavigation {
   align-self: center;
   font-family: sans-serif;
   padding: 0;
}

#mainNavigation ol {
   display: flex;
   justify-content: flex-end;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#mainNavigation label {
   cursor: pointer;
}

#mainNavigation label:hover,
#mainNavigation input:checked ~ label {
   border-bottom: 4px solid #005826;
}

#mainNavigation input {
   display: none;
}

.userContainer,
.userContainerNarrow {
   background-color: transparent;
   border: none;
   color: inherit;
   cursor: pointer;
   font: inherit;
   padding: 0.5em 0.5em;
}

.userContainer:hover,
.userContainerNarrow:hover,
.userTileToggled {
   background-color: #005826;
}

.signedIn {
   display: none;
}

#root > section {
   margin: 0 1em;
}

.childrenSection ul,
.familyMemberSection ul,
.invitationSection ul,
.activityLinksList ul {
   list-style-type: none;
}

.childrenSection input,
.familyMemberSection input {
   margin-left: 0.5em;
}

.skillCalendar {
   display: flex;
   justify-content: center;
}

.skillCalendar td {
   vertical-align: top;
   width: 21em;
}

.skillBody {
   display: flex;
   justify-content: flex-start;
}

.skillClass {
   display: flex;
   justify-content: flex-start;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.skillClass li {
   height: 0.5em;
   visibility: hidden;
   width: 3em;
}

.skillClass li.supportedSkill {
   visibility: visible;
}

.skillClass li.social-emotional {
   background: aqua;
}

.skillClass li.physical {
   background: darkred;
}

.skillClass li.language-literacy {
   background: lightgreen;
}

.skillClass li.mathematics-reasoning {
   background: blue;
}

.skillClass li.social-studies {
   background: green;
}

.skillClass li.science {
   background: darkorchid;
}

.skillClass li.creative {
   background: orangered;
}

.skillAge {
   width: 0.5em;
}

.infant {
   background: pink;
}

.toddler {
   background: purple;
}

.toddler-preschool {
   background: repeating-linear-gradient(
      -45deg,
      purple,
      purple 10px,
      orchid 10px,
      orchid 20px
   );
}

.preschool {
   background: orchid;
}

.preschool-preprimary {
   background: repeating-linear-gradient(
      -45deg,
      orchid,
      orchid 10px,
      darkmagenta 10px,
      darkmagenta 20px
   );
}

.preprimary {
   background: darkmagenta;
}

.preprimary-primary {
   background: repeating-linear-gradient(
      -45deg,
      darkmagenta,
      darkmagenta 10px,
      lightcoral 10px,
      lightcoral 20px
   );
}

.primary {
   background: lightcoral;
}

.skillClassLegend {
   margin-bottom: 1em;
}

.skillClassLegend ol {
   font-weight: bold;
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.skillClassLegend li {
   padding: 0.5em;
}

.skillClassLegend div {
   background-color: white;
   padding: 0.25em;
}

.skillText {
   padding: 0.5em;
}

.skillFilter {
   font-size: 110%;
   font-weight: bold;
}

.skillFilter select {
   margin-left: 0.5em;
}

.activitiesHeader {
   display: flex;
   justify-content: space-between;
}

.activityViewHeader button:not(:first-child) {
   margin-left: 1em;
}

.activitiesFilter span {
   margin-right: 0.5em;
}

.activitiesList {
   display: flex;
   justify-content: center;
}

.activitiesList ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 60em;
}

.activityItem {
   background-color: #8c6239;
   color: white;
   cursor: pointer;
   margin: 0.5em 0;
   padding: 0.5em;
}

.activityItem:hover {
   background-color: #005826;
}

.activityEditFooter {
   margin-top: 1em;
}

.addActivityLink label {
   margin-right: 0.5em;
}

@media (min-width: 1024px) {
   header {
      padding: 0.5em;
   }

   #mainNavigation label {
      padding: 0.5em 0.5em;
   }

   #userTile {
      margin-left: 1em;
   }

   .userTileNarrow {
      display: none;
   }

   .userContainerNarrow {
      display: none;
   }

   .narrowTitle {
      display: none;
   }

   .skillFilter {
      float: right;
   }

   .skillClassLegend ol {
      display: flex;
      justify-content: space-around;
   }
}

@media (max-width: 1023px) {
   header {
      padding: 0 0.5em;
   }

   #mainNavigation label {
      padding: 0 0.5em;
   }

   #userTile {
      margin-left: 0;
   }

   .g-signin2 {
      display: none;
   }

   .activitiesHeader > button {
      display: none;
   }

   .activityEditButton {
      display: none;
   }

   .previousBenchmarkColumn {
      display: none;
   }

   .nextBenchmarkColumn {
      display: none;
   }

   .userContainer {
      display: none;
   }

   .narrowTitle {
      width: 2em;
   }

   .wideTitle {
      display: none;
   }

   .skillFilter {
      display: block;
   }
}